@import url("variables.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-light-grayish-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.container {
  max-width: 42rem;
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  color: var(--color-very-dark-grayish-blue);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.article__image {
  width: 100%;
  height: 200px;
}

.article__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.article__content {
  flex: 1.5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.article__preview__text {
  color: var(--color-desaturated-dark-blue);
  font-size: 13px;
  line-height: 1.5;
}

.article__details {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.article__author__image {
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 1rem;
}

.article__author {
  font-weight: var(--font-weight-bold);
  font-size: 13px;
  margin-bottom: 0.25rem;
}

.article__date {
  color: var(--color-desaturated-dark-blue);
  font-size: 13px;
}

.share__button {
  margin-left: auto;
  background: url("../images/icon-share.svg") no-repeat center;
  background-size: 1.2em;
  border: none;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--color-light-grayish-blue);
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.share__buttons {
  position: absolute;
  bottom: 3.5rem;
  right: 0;
  background-color: var(--color-very-dark-grayish-blue);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.75rem;
  letter-spacing: 4px;
  z-index: 10;
}

footer {
  margin-top: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 35rem) {
  .article {
    flex-direction: row;
    height: 280px;
  }

  .article__image {
    height: 100%;
    width: 40%;
  }

  .article__image img {
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }

  .article__content {
    padding: 2rem;
  }
}
