@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-light-grayish-blue);
  color: var(--color-very-dark-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page {
  width: 100%;
  padding: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: visible;
  position: relative;
}

.article__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.article__image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}

.article__content {
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__title {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  letter-spacing: 0.25px;
}

.article__text {
  color: var(--color-grayish-blue);
  letter-spacing: 0.12%;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 1rem;
}

.article__meta {
  position: static;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.article__meta-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article__meta-info {
  flex: 1;
  margin-left: 1rem;
}

.article__meta-author {
  font-size: 13px;
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
}

.article__meta-date {
  color: var(--color-grayish-blue);
  font-size: 0.9rem;
}

.share {
  position: relative;
  z-index: 2;
}

.share__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--color-light-grayish-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transform: translateY(5px);
}

.share__toggle.active {
  background-color: var( --color-desaturated-dark-blue);
}

.share__toggle.active img {
  filter: brightness(0) invert(1);
}

.share__menu {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 58px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-very-dark-grayish-blue);
  color: var(--color-light-grayish-blue);
  padding: 1rem 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.share__menu.share__menu--visible {
  display: flex;
}

.share__label {
  color: var(--color-grayish-blue);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.2em;
}

@media (min-width: 768px) {
  .article {
    flex-direction: row;
    max-width: 600px;
  }

  .article__image-img {
    border-radius: 10px 0 0 10px;
  }

  .article__image {
    flex: 1 1 40%;
    border-radius: 10px 0 0 10px;
    height: auto;
  }

  .article__content {
    flex: 1 1 60%;
    padding: 2rem;
  }

  .share__menu {
    position: absolute;
    bottom: 80px;
    right: -55px;
    left: auto;
    background-color: var(--color-very-dark-grayish-blue);
    border-radius: 10px;
    padding: 0.8rem 1.6rem;
    display: none;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 35%;
  }

  .share__menu.share__menu--visible {
    display: flex;
  }

  .share__menu::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-color: var(--color-very-dark-grayish-blue);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  .share__label {
    color: var(--color-grayish-blue);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.2em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
  .article {
    max-width: 730px;
  }

  .share__menu {
    right: -60px;
    left: auto;
    width: 30%;
  }
}
